@import url(//fonts.googleapis.com/css?family=Tangerine);
@import url(//fonts.googleapis.com/css?family=Ravi+Prakash|Roboto|Open+Sans+Condensed);
.game_title {
  font-family: 'Tangerine', sans-serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa; }

.game_rps-min-label,
.game_rps-sec-label,
.game_rps-human-title,
.game_rps-bot-title,
.game_rps-timer-label,
.game_scoreboard-title,
.counts {
  font-family: 'Roboto', sans-serif; }

.game_sb-message {
  font-family: 'Ravi Prakash', sans-serif;
  font-size: 17px; }

.human-select,
.bot-select,
.game-result {
  font-family: 'Ravi Prakash', sans-serif;
  font-size: 19px; }

.game-result {
  font-size: 26px; }

.primary-button, .game .game_rps-start,
.game .game_rps-restart {
  background-color: #008CBA;
  border: none;
  border-radius: 2px;
  color: #fff;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px; }

.game-button, .game button[type=button] {
  background-color: #4CAF50;
  border: none;
  border-radius: 10px;
  color: #fff;
  margin-bottom: 10px;
  padding: 10px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; }

body {
  background-color: white;
  width: 100%; }

.game {
  margin: 0 auto;
  width: 50%; }
  .game .game_title {
    margin-top: 55px;
    text-align: center; }
  .game .game_rps-sec-label {
    margin-left: 2%; }
  .game .game_rps-min-input,
  .game .game_rps-sec-input {
    font-size: 13px;
    text-align: center;
    width: 12%; }
  .game .game_input-warning,
  .game .game_time-warning {
    color: red;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    text-align: center; }
  .game .game_scoreboard {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center; }
  .game .counts {
    border: 3px solid black;
    display: inline-block;
    margin-right: -4px; }
    .game .counts h4 {
      background-color: black;
      color: white;
      border-bottom: 2px solid black;
      margin: 0px;
      padding: 6px;
      font-weight: bold; }
  .game .score-box {
    color: #2CB3C9;
    margin: 0px;
    padding: 13px; }
  .game .warningHide,
  .game .timeWarningHide {
    display: none; }
  .game .timerWarning {
    color: orange; }
  .game button[type=button] img {
    padding-right: 3px; }
  .game input[type="text"] {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
    padding: 10px;
    transition: box-shadow 0.3s, border 0.3s; }
  .game button[type=button]:disabled {
    opacity: 0.7; }
  .game .game_sb-message {
    margin-bottom: 0px;
    margin-top: 8px;
    text-align: center; }
  .game .human-select,
  .game .bot-select {
    display: block;
    margin-top: 29px;
    text-align: center; }
  .game .game-result {
    margin-top: 20px;
    text-align: center; }
  .game .game_rps-buttons {
    display: inline-block;
    margin-left: 5%;
    margin-top: 18px;
    text-align: center; }
    .game .game_rps-buttons .game_rps-start {
      margin-right: 10px; }
  .game .game_rps-timer {
    margin-top: 25px; }
    .game .game_rps-timer .game_rps-timer-label {
      display: block;
      text-align: center; }
    .game .game_rps-timer .game_rps-timer-block {
      background-color: grey;
      border-radius: 3px;
      color: #fff;
      height: 40px;
      margin: 0 auto;
      width: 107px; }
    .game .game_rps-timer .game_rps-timer-min,
    .game .game_rps-timer .game_rps-timer-sec {
      display: inline-block;
      margin-top: 10px; }
    .game .game_rps-timer .game_rps-timer-min {
      margin-left: 15px;
      margin-right: 15px; }
    .game .game_rps-timer .game_rps-timer-sec {
      margin-left: 10px; }
  .game .game_scoreboard-title {
    margin-bottom: 0px;
    margin-top: 30px;
    text-align: center; }
  .game .game_rps-hvb {
    display: inline-block;
    margin-top: 30px;
    width: 100%; }
    .game .game_rps-hvb .game_rps_human_block,
    .game .game_rps-hvb .game_rps_bot_block {
      float: left;
      width: 47%; }
    .game .game_rps-hvb .game_rps_human_block {
      margin-right: 13px; }
    .game .game_rps-hvb .game_rps-human,
    .game .game_rps-hvb .game_rps-bot {
      border: 1px solid lightblue;
      border-radius: 3px;
      height: 200px;
      width: 100%; }
    .game .game_rps-hvb .game_rps-human-title,
    .game .game_rps-hvb .game_rps-bot-title {
      text-align: center;
      text-transform: uppercase; }
    .game .game_rps-hvb .game_rps-human-buttons,
    .game .game_rps-hvb .game_rps-bot-buttons {
      text-align: center; }

@media (max-width: 992px) {
  .game {
    width: 90%; } }

@media (min-width: 0px) and (max-width: 480px) {
  .game {
    width: 100%; }
    .game .game_rps-hvb {
      width: 100%; }
      .game .game_rps-hvb .game_rps_human_block,
      .game .game_rps-hvb .game_rps_bot_block {
        margin-left: 13px;
        width: 93%; }
    .game .game_scoreboard {
      width: 80%; }
    .game .game_rps_human_block {
      margin-bottom: 20px; }
    .game .game-result {
      margin-bottom: 40px; }
    .game .game_rps-timer-block {
      width: 50%; }
    .game .game_rps-buttons {
      margin-left: 115px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .game {
    width: 100%; }
    .game .game_rps_human_block {
      margin-left: 12px;
      margin-right: 8px; }
    .game .game_rps-input {
      margin-left: 26%;
      margin-right: 13%; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .game .game_rps-input {
    margin-left: 16%;
    margin-right: 0%; } }

@media (min-width: 1200px) {
  .game .game_rps-input {
    margin-left: 17%;
    margin-right: 0%; } }
