body {
  background-color: white;
  width: 100%; }

.game {
  margin: 0 auto;
  width: 50%; }
  .game .game_title {
    margin-top: 70px;
    text-align: center; }
  .game .game_rps-buttons {
    margin-top: 18px;
    text-align: center; }
    .game .game_rps-buttons .game_rps-start {
      margin-right: 10px; }
  .game .game_rps-timer {
    margin-top: 25px; }
    .game .game_rps-timer .game_rps-timer-label {
      display: block;
      text-align: center; }
    .game .game_rps-timer .game_rps-timer-block {
      background-color: grey;
      border-radius: 3px;
      color: #fff;
      height: 40px;
      margin: 0 auto;
      width: 24%; }
    .game .game_rps-timer .game_rps-timer-min,
    .game .game_rps-timer .game_rps-timer-sec {
      display: inline-block;
      margin-top: 10px; }
    .game .game_rps-timer .game_rps-timer-min {
      margin-left: 15px;
      margin-right: 15px; }
    .game .game_rps-timer .game_rps-timer-sec {
      margin-left: 10px;
      margin-right: 20px; }
  .game .game_rps-hvb {
    display: inline-block;
    margin-top: 50px;
    width: 100%; }
    .game .game_rps-hvb .game_rps_human_block,
    .game .game_rps-hvb .game_rps_bot_block {
      float: left;
      width: 49%; }
    .game .game_rps-hvb .game_rps-h-scoreboard,
    .game .game_rps-hvb .game_rps-b-scoreboard {
      text-align: center; }
      .game .game_rps-hvb .game_rps-h-scoreboard input[type=number]::-webkit-inner-spin-button,
      .game .game_rps-hvb .game_rps-h-scoreboard input[type=number]::-webkit-outer-spin-button,
      .game .game_rps-hvb .game_rps-b-scoreboard input[type=number]::-webkit-inner-spin-button,
      .game .game_rps-hvb .game_rps-b-scoreboard input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0; }
    .game .game_rps-hvb .game_rps-h-sb-win,
    .game .game_rps-hvb .game_rps-h-sb-lose,
    .game .game_rps-hvb .game_rps-h-sb-draw,
    .game .game_rps-hvb .game_rps-b-sb-win,
    .game .game_rps-hvb .game_rps-b-sb-lose,
    .game .game_rps-hvb .game_rps-b-sb-draw {
      text-align: center;
      width: 10%; }
    .game .game_rps-hvb .game_rps-human,
    .game .game_rps-hvb .game_rps-bot {
      border: 1px solid lightblue;
      border-radius: 3px;
      margin-top: 33px;
      height: 200px;
      width: 100%; }
    .game .game_rps-hvb .game_rps-human-title,
    .game .game_rps-hvb .game_rps-bot-title {
      text-align: center;
      text-transform: uppercase; }
    .game .game_rps-hvb .game_rps-human-buttons,
    .game .game_rps-hvb .game_rps-bot-buttons {
      text-align: center; }

@media (min-width: 0px) and (max-width: 768px) {
  .game {
    width: 100%; }
  .game_rps-timer-block {
    width: 50%; } }
