//white
$color-white: #fff;
//light blue
$scolor-light-blue: #ccc;
//primary button
$color-blue: #337ab7;
//border blue
$color-border-blue: #2e6da4;
//hover blue
$color-hover-blue: #286090;
//sb blue
$color-sb-blue: #2CB3C9;
//green
$color-green: #4CAF50;
//grey
$color-grey: grey;
//red
$color-red: red;
//black
$color-black: black;
//orange
$color-orange: orange;
//light grey
$color-light-grey: #CCC;
//shadow grey
$color-shadow-grey: #969696;