//white
$color-white: #fff;
//light blue
$scolor-light-blue: lightblue;
//primary button
$color-blue: #008CBA;
//green
$color-green: #4CAF50;
//grey
$color-grey: grey;
//red
$color-red: red;
//black
$color-black: black;
//orange
$color-orange: orange;
//light grey
$color-light-grey: #707070;
//shadow grey
$color-shadow-grey: #969696;