body {
  background-color: white;
  width: 100%;
}

.game {
  margin: 0 auto;
  width: 50%;

  .game_title {
    margin-top: 70px;
    text-align: center;
  }

  .game_rps-sec-label {
    margin-left: 2%;
  }

  .game_rps-min-input,
  .game_rps-sec-input {
    width: 12%;
  }

  .game_rps-start,
  .game_rps-restart {
    @extend .primary-button;
  }

  button[type=button] {
    @extend .game-button;

    img {
      padding-right: 3px;
    }
  }

  input[type="number"] {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
    padding: 10px;
    transition: box-shadow 0.3s, border 0.3s;
  }

  button[type=button]:disabled {
    opacity: 0.7;
  }

  .human-select,
  .bot-select {
    display: block;
    margin-top: 29px;
    text-align: center;
  }

  .game-result {
    margin-top: 20px;
    text-align: center;
  }

  .game_rps-buttons {
    display: inline-block;
    margin-left: 5%;
    margin-top: 18px;
    text-align: center;

      .game_rps-start {
        margin-right: 10px;
      }
  }

  .game_rps-timer {
    margin-top: 25px;

    .game_rps-timer-label {
      display: block;
      text-align: center;
    }

    .game_rps-timer-block {
      background-color: grey;
      border-radius: 3px;
      color: $color-white;
      height: 40px;
      margin: 0 auto;
      width: 107px;
    }

    .game_rps-timer-min,
    .game_rps-timer-sec {
      display: inline-block;
      margin-top: 10px;
    }

    .game_rps-timer-min {
      margin-left: 15px;
      margin-right: 15px;
    }

    .game_rps-timer-sec {
      margin-left: 10px;
      margin-right: 20px;
    }
  }

  .game_scoreboard {
    margin: auto;
    overflow: hidden;
    width: 50%;

    .counts {
      float: left;
      width: 30%;
    }
  }

  .game_scoreboard-title {
    margin-top: 40px;
    text-align: center;
  }

  .game_rps-hvb {
    display: inline-block;
    margin-top: 30px;
    width: 100%;

    .game_rps_human_block,
    .game_rps_bot_block {
      float: left;
      width: 47%;
    }

    .game_rps_human_block {
      margin-right: 13px;
    }

    .game_rps-human,
    .game_rps-bot {
      border: 1px solid $scolor-light-blue;
      border-radius: 3px;
      height: 200px;
      width: 100%;
    }

    .game_rps-human-title,
    .game_rps-bot-title{
      text-align: center;
      text-transform: uppercase;
    }

    .game_rps-human-buttons,
    .game_rps-bot-buttons {
      text-align: center;
    }
  }
}

@media (max-width: 1000px) {
  .game {
    width: 90%;
  }
}

@media (min-width: $screen-inital) and (max-width: $screen-xs) {

  .game {
    width: 100%;

    .game_rps-hvb {
      width: 100%;

      .game_rps_human_block,
      .game_rps_bot_block {
        margin-left: 13px;
        width: 93%;
      }
    }

    .game_scoreboard {
      width: 80%;
    }

    .game_rps_human_block {
      margin-bottom: 20px;
    }

    .game-result {
      margin-bottom: 40px;
    }

    .game_rps-timer-block {
      width: 50%;
    }

    .game_rps-buttons {
      margin-left: 115px;
    }
  }
}

@media (min-width: $screen-xs) and (max-width: $screen-sm) {
  margin-left: 0px;
}

@media (min-width: $screen-sm) and (max-width: $screen-md) {
  .game {
    width: 100%;

    .game_rps_human_block {
      margin-left: 12px;
      margin-right: 8px;
    }

    .game_rps-input {
      margin-left: 26%;
      margin-right: 13%;
    }
  }
}

@media (min-width: $screen-md) and (max-width: $screen-lg) {
  .game {
    .game_rps-input {
      margin-left: 16%;
      margin-right: 0%;
    }
  }
}

@media (min-width: $screen-lg) {
  .game {
    .game_rps-input {
      margin-left: 17%;
      margin-right: 0%;
    }
  }
}