body {
  background-color: white;
  width: 100%;
}

.game {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-direction: column; /* Safari */
  flex-direction:         column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

@media (min-width: $screen-inital) and (max-width: $screen-sm) {

  .game {
    width: 100%;
  }

  .game_rps-timer-block {
    width: 50%;
  }
}

@media (min-width: $screen-sm) {

}